nav{
    background-color: #68422b !important;
    z-index: 50 !important;
}

.pozvati_ikonica {
  width: 4rem;
  height: 4rem;
}

.pozvati {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
}

@media (min-width: 1200px) {
  .pozvati {
    display: none;
  }
}

nav img{
  height: 3vh;
}

#top_header{
  margin-bottom: 1px;
}

.bottom {
  font-size: 9px;
}

